<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is the home page of Textutils</title>
</head>
<body>
This is the body of the HTML templates, Enter your text below
<form action='/analyze' method="get">
    <textarea name = "text" style="margin: 0px; width: 597px; height: 54px;"></textarea><br>
    <input type = 'checkbox' name = 'remove_puncuation'> Remove Punctuations<br>
    <input type = 'checkbox' name = 'capitalize'> UPPER CASE<br>
    <input type = 'checkbox' name = 'new_line_remover'> New Line Remover<br>
    <input type = 'checkbox' name = 'char_count'> Character Counter<br>
    <button type = 'submit'>Analyze text</button>
</form>
</body>
</html>